<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>
  <main class="main">
    <div class="row">    
        <select name="cars" id="cars">
          <option id="0" selected>Please Choose Account</option>
          <% items.forEach(function(item) { %>          
          <option value="<%=item.number%>" id="<%=item.id%>"><%=item.number%> (<%=item.currency%>) (<%=item.accountContext%>)</option>
          <% }); %>
        </select>    
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>